<!DOCTYPE html>
<html>
  <head>

    <script type="text/javascript">
      window.landing_mov = "<%= image_url('landing_mov.mov') %>";
    </script>

    <script type="text/javascript">
      window.landing_img = "<%= image_url('landing_image.png') %>";
    </script>

    <script type="text/javascript">
      window.landing_gif = "<%= image_url('landing_gif.gif') %>";
    </script>

    <script type="text/javascript">
      window.happy_max = "<%= image_url('happy_max.jpg') %>";
    </script>

    <script type="text/javascript">
      window.sleepy_max = "<%= image_url('sleepy_max.jpg') %>";
    </script>

    <script type="text/javascript">
      window.snow_max = "<%= image_url('snow_max.jpg') %>";
    </script>


    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <title>Picto-gram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>