<!DOCTYPE html>
<html>
  <head>

    <script type="text/javascript">
      window.landing_mov = "<%= image_url('landing_mov.mov') %>";
    </script>

    <script type="text/javascript">
      window.landing_img = "<%= image_url('landing_image.png') %>";
    </script>


    <%= favicon_link_tag asset_path('favicon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <title>Picto-gram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>